.user {
  background: #fbfbfc;
}
.level_number {
  background: #fbfbfc;
  text-align: right;
}
.userIcons {
  float: right;
}
.blue {
  color: #1d71b8;
}

.bold {
  font-weight: bold;
}

.times {
  color: #ff6666;
}